---
---

$bg-color: #050424;
$mobile: 768px;

body {
  font-family: "Poppins", "Helvetica", sans;
}

#wrap {
  background-color: $bg-color;
  background-size: cover;
  background-image: url("../images/aaron.jpg")
}

.front-frame {
  background: rgba(0,0,0,0.2);
  border-radius: 0.5em;
  padding: 0.2em 3em;
  transition: all 0.5s;
  margin: 1em 0;
  @media screen and (min-width: $mobile) {
    margin: 25vh auto;
  }
  .site-links {
    margin-top: 1em;
  }
  &:hover {
    box-shadow: 0 0 30px 0 white;
    border-radius: 2em;
    transition: all 0.2s;
    .title-image {
      padding: 1.3em 1em 1.3em;
      border-bottom: 4px solid white;
      border-top: 4px solid white;
    }
  }
}

.title-image {
  width: 100%;
  transition: all 0.2s;
  padding: 0.8em 1em 0.3em;
  margin-top: 3em;
  &.page {
    margin-top: 1em;
    &:hover {
      transition: all ease-out 0.2s;
      border-radius: 1em;
      background: white;
      path {
        fill: black;
      }
    }
    path {
      pointer-events: all;
      transition: all 0.2s;
      &:hover {
        fill: red;
        transition: all 0.2s;
      }
    }
  }
}

.site-links {
  color: white;
  font-size: 1.8em;
  text-align: center;
  .site-link {
    color: white;
    padding: 0.2em 1.25em;
    transition: all 0.3s;
    width: 150px;
    @media screen and (max-width: $mobile - 1) {
      display: block;
      width: 100%;
      margin-bottom: 0.25em;
    }
    &:hover {
      background: white;
      box-shadow: 0 0 1px 0px white;
      transition: all 0.3s;
      text-decoration: none;
      border-radius: 0.5em;
      color: black;
    }
    &.current {
      color: black;
      background-color: white;
      border-radius: 0.5em;
    }
  }
}

.social-links {
  color: white;
  margin: 2em;
  text-align: center;
  a {
    color: white;
    &.mobile-only {
      display: inline-block;
      @media screen and (min-width: $mobile) {
        display: none;
      }
    }
  }
  i {
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    margin: 0 0.5em;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      background: white;
      color: black;
      transition: all 0.5s;
      border-radius: 100%;
    }
  }
}

.standard-header, .standard-body {
  background: rgba(0,0,0,0.6);
}

.standard-header {
  .title {
    a {
      display: block;
    }
    object {
      pointer-events: none;
    }
  }
}

.standard-body {
  color: white;
  font-size: 1.2em;
  padding: 2em;
  border-radius: 0 0 0.5em 0.5em;
  img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }
}
