---
---

$mobile: 768px;

body {
  font-family: "Poppins", "Helvetica", sans;
  background: rgb(46,8,84);
  background: {
    image: url("../images/faded-cropped.jpg");
    position: center center;
    attachment: fixed;
  }
}

#wrap {
  height: 100vh;
  background: rgba(46,8,84,0.4);
  @media screen and (min-width: $mobile) {
    background: none;
  }
}

.front-frame {
  background: rgba(46,8,84,0.6);
  border-radius: 0.5em;
  transition: all 0.5s;
  padding: 0.2em 1em;
  margin: 1em 0;
  @media screen and (min-width: $mobile) {
    padding: 0.2em 3em;
    margin: 25vh auto;
  }
  .site-links {
    margin-top: 1em;
  }
  &:hover {
    box-shadow: 0 0 30px 0 white;
    border-radius: 2em;
    transition: all 0.2s;
    .title-image {
      padding: 1.3em 1em 1.3em;
      border-bottom: 4px solid white;
      border-top: 4px solid white;
    }
  }
}

.title-image {
  width: 100%;
  transition: all 0.2s;
  padding: 0.6em 1em 0.1em;
  margin-top: 2em;
  &.page {
    margin-top: 1em;
    @media screen and (min-width: $mobile) {
      margin-bottom: 1em;
    }
    &:hover {
      padding: 0.6em 1em 0.1em;
      transition: all ease-out 0.2s;
      border-radius: 1em;
      background: white;
      path {
        fill: black;
      }
    }
  }
}

.site-links {
  color: white;
  font-size: 1.5em;
  text-align: center;
  .site-link {
    color: white;
    padding: 0.2em 1.25em;
    transition: all 0.3s;
    width: 150px;
    @media screen and (max-width: $mobile - 1) {
      display: block;
      width: 100%;
      margin-bottom: 0.25em;
    }
    &:hover {
      background: white;
      box-shadow: 0 0 1px 0px white;
      transition: all 0.3s;
      text-decoration: none;
      border-radius: 0.5em;
      color: black;
    }
    &.current {
      color: black;
      background-color: white;
      border-radius: 0.5em;
    }
  }
}

.social-links {
  color: white;
  margin: 1em;
  text-align: center;
  a {
    color: white;
    &.mobile-only {
      display: inline-block;
      @media screen and (min-width: $mobile) {
        display: none;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  i {
    width: 2em;
    height: 2em;
    padding-top: 0.5em;
    margin: 0 0.5em;
    transition: all 0.5s;
    cursor: pointer;
    &:hover {
      background: white;
      color: black;
      transition: all 0.5s;
      border-radius: 100%;
      text-decoration: none;
    }
    font-size: 2em;
    @media screen and (min-width: $mobile) {
      font-size: 3em;
    }
  }
}

.standard-header, .standard-body {
  background: rgba(0,0,0,0.8);
}

.standard-header {
  .title {
    a {
      display: block;
    }
    object {
      pointer-events: none;
    }
  }
}

.standard-body {
  color: white;
  font-size: 1.2em;
  padding: 2em;
  border-radius: 0 0 0.5em 0.5em;
  img {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 0.5em;
  }
}

.modal-dialog {
  background: rgba(0, 0, 0, 0.8);
  padding: 1em 1em 0;
  border-radius: 1em;
  box-shadow: 0 0 5px 1px;
  .modal-content {
    background: none;
  }
}

.landing-subtitle {
  text-align: center;
  color: white;
  font-size: 2em;
}

.mailchimp {
  position: fixed;
  background: rgba(46,8,84,0.6);
  bottom: -180px;
  height: 180px;
  border-radius: 0.5em 0.5em 0 0;
  padding: 1.5em;
  right: 2em;
  animation: {
    name: mailinglistpop;
    delay: 10s;
    duration: 0.5s;
    iteration-count: 1;
    fill-mode: forwards;
  }
  label {
    display: block;
    text-align: center;
    color: white;
    font-size: 1.5em;
    margin-bottom: 0.5em;
  }
  .button {
    margin-top: 0.5em;
  }
}

@keyframes mailinglistpop {
  from {bottom: -180px;}
  to {bottom: 0;}
}
