---
---

$mobile: 768px;

@font-face {
  font-family: 'Lemon/Milk';
  src:
    local('Lemon/Milk'),
    url('../fonts/lemon.otf') format('otf');
}

@font-face {
  font-family: 'Arcade';
  src:
    local('Arcade Normal'),
    url('../fonts/arcade.ttf') format('ttf');
}

body {
  background: #333;
}

.outer-arcade {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 0 3em;
  background: #333;
  transition: 0.5s all;
  box-shadow: inset 0 0 1px 1px black;
  @media screen and (max-width: $mobile - 1) {
    padding: 0;
    transition: 0.5s all;
  }
}

.inner-arcade {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: black;
}

.screen {
  display: flex;
  flex: 1;
  background: blue;
  font-family: "Arcade";
  border-radius: 4em;
  padding: 2em;
  margin: 2em;
}

.game-menu {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  .game-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    background: green;
    border: 1px solid black;
    margin: 1.66%;
    font-size: 1.5em;
  }
  .fa-lock {
    font-size: 5em;
  }
}

.arcade-header, .arcade-player {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arcade-header {
  font-size: 5em;
  font-family: "Lemon/Milk";
  background: goldenrod;
  color: white;
  height: 150px;
}

.arcade-player {
  height: 100px;
}