---
---

$large: 1200px;
$mobile: 768px;

$ease-out-quint:cubic-bezier(0.230, 1.000, 0.320, 1.000);
$ease-in-quint:cubic-bezier(0.755, 0.050, 0.855, 0.060);
$screen-background:#121010;

@font-face {
  font-family: 'Lemon/Milk';
  src:
    local('Lemon/Milk'),
    url('../fonts/lemon.otf') format('otf');
}

@font-face {
  font-family: 'Arcade';
  src:
    local('Arcade Normal'),
    url('../fonts/arcade.ttf') format('ttf');
}

body {
  background-color: #333;
  @media screen and (min-width: $large) {
    background: radial-gradient(circle, #333, black);
  }
}

.outer-arcade {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  background: black;
  transition: 0.5s all;
  margin: 0 auto;
  border-left: 1em solid white;
  border-right: 1em solid white;
  border-radius: 0.5em 0.5em 0 0;
  @media screen and (max-width: $mobile - 1) {
    padding: 0;
    transition: 0.5s all;
  }
  @media screen and (min-width: $large) {
    margin-top: 3em;
  }
}

.inner-arcade {
  display: flex;
  flex: 1;
  flex-direction: column;
  background: black;
  background: radial-gradient(circle, black, #333);
  border-radius: 4em;
  transform: perspective(500px) rotateX(4deg) scale(0.89);
  transform-origin: top;
  margin: 4em 2em 2em;
  min-height: 800px;
  box-shadow: inset 0 0 10px 0 grey;
}

.screen {
  display: flex;
  flex: 1;
  flex-direction: column;
  font-family: "Arcade";
  padding: 2em;
  margin: 3em;
  box-shadow: inset 0 0 15px 0 white;

  transform: scale(0.000,0.0001) translate3d(0,0,0);
  filter: brightness(50);

  animation: turn-on 4s linear, bgscreen 10s infinite linear;
  animation-fill-mode: forwards;

  &:after{
    content: " ";
    display:block;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: transparentize($screen-background,0.9);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
    transition: 0.5s all;
  }

  &:before{
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(transparentize($screen-background,1) 50%, transparentize(darken($screen-background,10),0.75) 50%), linear-gradient(90deg,transparentize(#ff0000,0.94),transparentize(#00ff00,0.98),transparentize(#0000ff,0.94));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }

  .overlay {
    color:#00FF00;
    position:absolute;
    top: 20px;
    left: 20px;
    font-size:60px;
    visibility:hidden;
    pointer-events:none;
    animation: overlay-anim 5s linear;
  }
}

.game-menu {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  .game-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    border: 3px solid yellow;
    margin: 1%;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    flex-direction: column;
    cursor: pointer;
    flex-grow: 1;
  }
  .game-name {
    flex: 1;
  }
  .game-song {
    flex: 1;
    font-size: 1em;
    justify-content: flex-end;
  }
  .fa-lock, .fa-unlock {
    font-size: 5em;
  }
}

.game-view {
  display: none;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-family: "Arcade";
  color: white;
  .game-frame {
    display: none;
  }
  .header, .game, .footer {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }
  .header {
    font-size: 4em;
  }
  .game {
    height: 100%;
    img {
      max-width: 50%;
      margin: 1em;
      border-radius: 10%;
      animation: 3s spinner infinite linear;
    }
  }
  .back {
    padding: 1em;
    border: 3px solid yellow;
    background: blue;
    cursor: pointer;
  }
}

.arcade-header, .arcade-player, .arcade-drawer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.arcade-header {
  font-size: 5em;
  font-family: "Lemon/Milk";
  background: goldenrod;
  color: white;
  height: 150px;
  box-shadow: inset 0 0px 4px 0 black;
  text-shadow: 0 2px 2px black;
  padding: 0 0.3em;
  margin-top: -10px;
  transition: 0.5s all;
  transform: perspective(500px) rotateX(2deg) scale(1.1);
  border-left: 15px solid white;
  border-right: 15px solid white;
  border-radius: 5px;
  span {
    display: flex;
    flex: 1;
    justify-content: center;
    text-align: center;
  }
  a {
    color: white;
    transition: 0.5s all;
    &:hover {
      color: red;
      transition: 0.5s all;
    }
  }
  i {
    font-size: 0.5em;
    margin: 25px;
  }
  @media screen and (max-width: $mobile - 1) {
    font-size: 4em;
  }
  .left-group, .right-group {
    display: flex;
    width: 200px;
  }
  .right-group {
    justify-content: flex-end;
  }
}

.arcade-player {
  margin: 0 1em;
  span {
    width: 100%;
    padding: 0.5em;
    color: white;
    background: blue;
    border: 3px solid yellow;
    text-align: center;
  }
}

.arcade-drawer {
  width: 100%;
  background:#333;
  height: 100px;
  color: white;
  font-size: 1.5em;
  border-top: 8px solid white;
  border-bottom: 8px solid white;
  box-shadow: 0 0 1px 1px black;
  font-family: "Lemon/Milk";
  transform: perspective(500px) rotateX(20deg) scale(1.07);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  a {
    color: white;
    margin: 0 0.5em;
    padding: 0.5em;
    border-radius: 1em;
    text-shadow: 0 2px 2px black;
    border: 2px solid white;
    width: 200px;
    text-align: center;
    transition: 0.5s all;
    text-decoration: none;
    &:hover {
      text-decoration: none;
      box-shadow: inset 0 0 3px 1px black;
      transition: 0.3s all;
      transform: scale(0.97);
    }
  }
}

.arcade-padder {
  width: 100%;
  height: 300px;
  background: goldenrod;
  transition: 0.5s all;
  box-shadow: inset 0 5px 10px 2px #333;
  transform: scale(1.1);
}

@keyframes bgscreen {
  0% {
    background-color: red;
  }
  25% {
    background-color: purple;
  }
  50% {
    background-color: darkblue;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: red;
  }
}

@keyframes flicker {
  $steps: 20;
  @for $i from 0 through $steps {
    #{percentage($i*(1/$steps))} {
      opacity: random();
    }
  }
}

@keyframes turn-on {
  0% {
    transform: scale(1,0.8) translate3d(0,0,0);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1,0.8) translate3d(0,100%,0);
  }
  3.6% {
    transform: scale(1,0.8) translate3d(0,-100%,0);
    opacity: 1;
  }
  9% {
    transform: scale(1.3,0.6) translate3d(0,100%,0);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1,1) translate3d(0,0,0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1,1) translate3d(0,0,0);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}