<script>
  (function() {
    var css = document.createElement('link');
    css.href = '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
    css.rel = 'stylesheet';
    css.type = 'text/css';
    document.getElementsByTagName('head')[0].appendChild(css);
  })();
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-80885837-1', 'auto');
  ga('send', 'pageview');
</script>
<script>
  var $buoop = {vs:{i:12,f:-4,o:-4,s:9,c:-4},api:4,text:"<strong>This site has some nifty tricks, and your old browser ({brow_name}) won't like them.</strong><br/>You're best off using the latest Chrome, Firefox, Safari, or Edge.<br/>You can <a{up_but}>Update</a> or <a{ignore_but}>Ignore</a>."};
  function $buo_f(){
  var e = document.createElement("script");
  e.src = "//browser-update.org/update.min.js";
  document.body.appendChild(e);
  };
  try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
  catch(e){window.attachEvent("onload", $buo_f)}
</script>