<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <p>
      <meta content="{{ page.description }}" name="description"/>
      <meta content="{{ site.author.name }}" name="author"/>
      <meta content="http://wearelaspring.com/assets/themes/la-spring/images/logo-square.jpg" property="og:image"/>
      <meta content="L.A. Spring are a 4-piece indie pop band, based in London." property="og:description"/>
      <meta content="http://wearelaspring.com" property="og:url"/>
      <meta content="L.A. Spring" property="og:title"/>
      <!-- Enable responsive viewport
      -->
      <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
      <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
      <link href="{{ ASSET_PATH }}/css/style.css?body=1" media="all" rel="stylesheet" type="text/css"></link>
      <!-- atom & rss feed
      -->
      <link href="{{ BASE_PATH }}{{ site.JB.atom_path  %> %>" rel="alternate" title="Sitewide ATOM Feed" type="application/atom+xml"></link>
      <link href="{{ BASE_PATH }}{{ site.JB.rss_path  %> %>" rel="alternate" title="Sitewide RSS Feed" type="application/rss+xml"></link>
      <link href="{{ ASSET_PATH }}/images/favicon.ico" rel="shortcut icon" type="image/x-icon"></link>
      <link href="{{ ASSET_PATH }}/images/favicon.ico" rel="icon" type="image/x-icon"></link>
    </p>
    <div id="wrap">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% include JB/analytics %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/laspring.js"></script>
    <script>
      (function() {
        var css = document.createElement('link');
        css.href = '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
        css.rel = 'stylesheet';
        css.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(css);
      })();
    </script>
    <script>
      WebFontConfig = {
        google: { families: [ 'Poppins::latin' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80885837-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
