<div class="front-frame">
  <div class="site-links hidden-xs">
    <a class="site-link about" href="/about">About</a>
    <a class="site-link live" href="/live">Live</a>
    <a class="site-link contact" href="/contact">Contact</a>
  </div>
  <object class="title-image" data="laspring-dark.svg" type="image/svg+xml">
    Your browser does not support SVG
  </object>
  <div class="site-links visible-xs">
    <a class="site-link about" href="/about">About</a>
    <a class="site-link live" href="/live">Live</a>
    <a class="site-link contact" href="/contact">Contact</a>
  </div>
  <div class="social-links">
    <a href="//facebook.com/wearelaspring" target="_blank">
      <i class="fa fa-facebook"></i>
    </a>
    <a href="//twitter.com/wearelaspring" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="//instagram.com/wearelaspring" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="//soundcloud.com/wearelaspring" target="_blank">
      <i class="fa fa-soundcloud"></i>
    </a>
  </div>
</div>
