.front-frame
  .site-links.hidden-xs
    %a.site-link.about{href: "/about"} About
    %a.site-link.live{href: "/live"} Live
    %a.site-link.contact{href: "/contact"} Contact
  %object.title-image{data: "laspring-dark.svg", type: "image/svg+xml"}
    Your browser does not support SVG
  .site-links.visible-xs
    %a.site-link.about{href: "/about"} About
    %a.site-link.live{href: "/live"} Live
    %a.site-link.contact{href: "/contact"} Contact
  .social-links
    %a{href: "//facebook.com/wearelaspring", target: "_blank"}
      %i.fa.fa-facebook
    %a{href: "//twitter.com/wearelaspring", target: "_blank"}
      %i.fa.fa-twitter
    %a{href: "//instagram.com/wearelaspring", target: "_blank"}
      %i.fa.fa-instagram
    %a{href: "//soundcloud.com/wearelaspring", target: "_blank"}
      %i.fa.fa-soundcloud
