.front-frame
  %object.title-image{data: "{{ ASSET_PATH }}/images/laspring-dark.svg", type: "image/svg+xml"}
    %img{src: "{{ ASSET_PATH }}/images/logo-fallback.png"}
  .social-links
    %a{href: "//twitter.com/wearelaspring", target: "_blank"}
      %i.fa.fa-twitter
    %a{href: "//instagram.com/wearelaspring", target: "_blank"}
      %i.fa.fa-instagram
    %a{href: "//soundcloud.com/wearelaspring", target: "_blank"}
      %i.fa.fa-soundcloud
  %p.landing-subtitle
    \- COMING SOON -

{% haml themes/la-spring/partials/mailchimp.haml %}
