<div class="front-frame">
  <object class="title-image" data="{{ ASSET_PATH }}/images/laspring-dark.svg" type="image/svg+xml">
    <img src="{{ ASSET_PATH }}/images/logo-fallback.png"/>
  </object>
  <div class="social-links">
    <a href="//twitter.com/wearelaspring" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="//instagram.com/wearelaspring" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="//soundcloud.com/wearelaspring" target="_blank">
      <i class="fa fa-soundcloud"></i>
    </a>
  </div>
  <div class="row gigs">
    <a href="https://billetto.co.uk/en/events/la-spring-with-support-from-blush" target="_blank">
      <div class="col-sm-6 text-center left">
        <span>The Victoria, Dalston</span><br/><span>20th September</span>
      </div>
    </a>
    <a href="https://wearelaspring.bandcamp.com/merch/ticket-to-the-horn-st-albans-on-22nd-september" target="_blank">
      <div class="col-sm-6 text-center right">
        <span>The Horn, St. Albans</span><br/><span>22nd September</span>
      </div>
    </a>
  </div>
</div>
{% include themes/la-spring/partials/mailchimp.html %}
