<div class="front-frame">
  <object class="title-image" data="{{ ASSET_PATH }}/images/laspring-dark.svg" type="image/svg+xml">
    <img src="{{ ASSET_PATH }}/images/logo-fallback.png"/>
  </object>
  <div class="social-links">
    <a href="//twitter.com/wearelaspring" target="_blank">
      <i class="fa fa-twitter"></i>
    </a>
    <a href="//instagram.com/wearelaspring" target="_blank">
      <i class="fa fa-instagram"></i>
    </a>
    <a href="//soundcloud.com/wearelaspring" target="_blank">
      <i class="fa fa-soundcloud"></i>
    </a>
  </div>
  <p class="landing-subtitle">
    - COMING SOON -
  </p>
</div>
{% include themes/la-spring/partials/mailchimp.html %}
