<div class="front-frame">
  <object class="title-image" type="image/svg+xml" data="laspring-dark.svg">
    Your browser does not support SVG
  </object>

  <div class="social-links">
    <a href="//facebook.com/wearelaspring" target="_blank"><i class="fa fa-3x fa-facebook"></i></a>
    <a href="//twitter.com/wearelaspring" target="_blank"><i class="fa fa-3x fa-twitter"></i></a>
    <a href="//instagram.com/wearelaspring" target="_blank"><i class="fa fa-3x fa-instagram"></i></a>
    <a href="//soundcloud.com/wearelaspring" target="_blank"><i class="fa fa-3x fa-soundcloud"></i></a>
  </div>

  <p class="landing-subtitle">- COMING SOON -</h2>
</div>
