<div class="row standard-header">
  <div class="hidden-xs col-sm-4">
    <div class="social-links">
      <a href="//facebook.com/wearelaspring" target="_blank">
        <i class="fa fa-2x fa-facebook"></i>
      </a>
      <a href="//twitter.com/wearelaspring" target="_blank">
        <i class="fa fa-2x fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4 title">
    <a class="title-image page" href="/">
      <object class="title-image" data="{{ ASSET_PATH  %> %>/images/laspring-dark.svg" type="image/svg+xml">
        <img src="{{ ASSET_PATH }}/images/logo-fallback.png"/>
      </object>
    </a>
  </div>
  <div class="col-xs-12 col-sm-4">
    <div class="social-links">
      <a href="//instagram.com/wearelaspring" target="_blank">
        <i class="fa fa-2x fa-instagram"></i>
      </a>
      <a href="//soundcloud.com/wearelaspring" target="_blank">
        <i class="fa fa-2x fa-soundcloud"></i>
      </a>
      <a class="mobile-only" href="//facebook.com/wearelaspring" target="_blank">
        <i class="fa fa-2x fa-facebook"></i>
      </a>
      <a class="mobile-only" href="//twitter.com/wearelaspring" target="_blank">
        <i class="fa fa-2x fa-twitter"></i>
      </a>
    </div>
  </div>
  <div class="col-xs-12">
    <div class="site-links">
      <a class="site-link about" href="/about">About</a>
      <a class="site-link live" href="/live">Live</a>
      <a class="site-link contact" href="/contact">Contact</a>
    </div>
  </div>
</div>
