<div class="row standard-header">
  <div class="col-xs-4">
    <div class="social-links">
      <a href="//facebook.com/wearelaspring" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
      <a href="//twitter.com/wearelaspring" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
    </div>
  </div>

  <div class="col-xs-4 title">
    <a href="/">
      <object class="title-image" type="image/svg+xml" data="laspring-dark.svg">
        Your browser does not support SVG
      </object>
    </a>
  </div>

  <div class="col-xs-4">
    <div class="social-links">
      <a href="//instagram.com/wearelaspring" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
      <a href="//soundcloud.com/wearelaspring" target="_blank"><i class="fa fa-2x fa-soundcloud"></i></a>
    </div>
  </div>

  <div class="col-xs-12">
    <div class="site-links">
      <a href="/about" class="site-link about">About</a> |
      <a href="/live" class="site-link live">Live</a> |
      <a href="/contact" class="site-link contact">Contact</a>
    </div>
  </div>
</div>

<div class="row standard-body">
  {{ content }}
</div>
