.row.standard-header
  .hidden-xs.col-sm-4
    .social-links
      %a{href: "//facebook.com/wearelaspring", target: "_blank"}
        %i.fa.fa-2x.fa-facebook
      %a{href: "//twitter.com/wearelaspring", target: "_blank"}
        %i.fa.fa-2x.fa-twitter
  .col-xs-12.col-sm-4.title
    %a.title-image.page{href: "/"}
      %svg{height: "50px", preserveaspectratio: "xMidYMid meet", version: "1.0", viewbox: "0 0 795.980199 102.765729", width: "100%", xmlns: "http://www.w3.org/2000/svg"}
        %g{fill: "#feffff", stroke: "none", transform: "translate(-13.000000,114.897315) rotate(-360.00) scale(0.095238,-0.095238)"}
          %path{d: "M1713 1184 c-6 -13 -100 -252 -210 -530 -111 -279 -201 -509 -201\r\n          -512 0 -3 37 -6 82 -6 l82 0 62 153 63 152 50 0 50 0 0 79 c0 63 -4 79 -16 79\r\n          -9 0 -16 3 -16 7 0 5 28 86 61 180 l62 172 54 -154 c72 -205 71 -201 44 -208\r\n          -21 -6 -22 -12 -19 -78 l3 -72 54 -3 54 -3 61 -152 62 -151 81 0 c45 0 82 3\r\n          82 7 0 5 -94 245 -208 533 l-208 525 -60 3 c-54 3 -61 1 -69 -21z"}
          %path{d: "M3066 1191 c-194 -54 -297 -215 -248 -386 10 -33 31 -75 48 -94 38\r\n          -44 119 -88 177 -98 l44 -7 0 78 0 78 -35 13 c-58 21 -86 59 -86 116 0 62 24\r\n          99 82 129 54 28 167 38 222 20 47 -16 99 -58 112 -91 8 -23 15 -25 88 -25 l79\r\n          0 -6 29 c-24 97 -89 175 -185 218 -81 36 -205 45 -292 20z"}
          %path{d: "M7898 1196 c-76 -10 -181 -55 -244 -106 -88 -70 -163 -195 -184 -306\r\n          l-7 -38 80 0 c78 0 80 0 87 28 42 178 227 294 418 264 121 -19 196 -71 245\r\n          -166 l30 -58 81 -3 82 -3 -7 34 c-22 106 -130 243 -232 295 -106 53 -229 74\r\n          -349 59z"}
          %path{d: "M137 971 l0 -225 78 0 79 0 0 225 0 226 -79 0 -78 0 0 -226z"}
          %path{d: "M3801 668 l0 -531 79 0 79 0 0 451 0 452 133 -1 c149 0 201 -14 243\r\n          -68 51 -66 55 -176 7 -248 -33 -49 -75 -72 -148 -80 l-57 -5 0 -78 c0 -88 -4\r\n          -85 108 -67 151 25 248 121 280 277 33 161 -50 332 -194 398 -49 22 -68 24\r\n          -291 27 l-239 4 0 -531z"}
          %path{d: "M4746 667 l0 -530 79 0 79 0 0 452 0 452 149 -3 c135 -3 154 -6 189\r\n          -28 91 -57 109 -195 36 -273 -36 -39 -77 -55 -155 -62 l-72 -6 0 -92 0 -92\r\n          144 -174 144 -174 103 0 103 0 -165 195 c-165 195 -175 213 -119 214 27 0 108\r\n          57 148 103 120 140 86 378 -70 488 -72 50 -134 60 -375 60 l-218 0 0 -530z"}
          %path{d: "M5670 1118 l0 -78 100 0 100 0 0 -147 0 -147 78 0 79 0 0 147 0 147\r\n          95 0 94 0 0 78 0 79 -273 0 -273 0 0 -79z"}
          %path{d: "M6437 667 l0 -530 78 0 79 0 2 363 3 363 42 -61 43 -62 98 -3 98 -3\r\n          -47 66 c-25 37 -97 141 -160 232 l-114 165 -61 0 -61 0 0 -530z"}
          %path{d: "M7066 832 c-1 -346 -2 -363 -18 -339 -52 75 -53 75 -151 72 l-90 -3\r\n          147 -213 147 -212 61 0 62 0 0 530 0 530 -79 0 -78 0 -1 -365z"}
          %path{d: "M3257 660 l3 -75 58 -19 c74 -24 95 -49 95 -117 0 -50 -4 -57 -47\r\n          -98 -54 -52 -124 -73 -217 -65 -104 10 -164 55 -192 147 -5 16 -15 18 -82 12\r\n          -42 -4 -78 -8 -80 -10 -2 -2 3 -28 13 -60 21 -73 64 -132 128 -174 260 -172\r\n          639 -23 637 251 0 130 -67 213 -210 261 -107 36 -109 35 -106 -53z"}
          %path{d: "M7919 564 l3 -76 192 -5 192 -5 -31 -49 c-82 -130 -266 -183 -428\r\n          -123 -81 29 -170 118 -200 199 l-22 57 -80 3 -81 3 7 -35 c54 -247 288 -423\r\n          537 -403 184 15 372 142 441 298 20 45 44 155 45 205 0 4 -130 8 -289 8 l-289\r\n          0 3 -77z"}
          %path{d: "M137 352 l0 -215 325 0 326 0 0 78 0 79 -247 0 -247 0 0 137 0 136\r\n          -79 0 -78 0 0 -215z"}
          %path{d: "M5870 431 l0 -137 -100 0 -100 0 0 -79 0 -78 273 0 273 0 0 78 0 79\r\n          -94 0 -95 0 0 137 0 136 -79 0 -78 0 0 -136z"}
          %path{d: "M960 280 c-3 -8 -4 -42 -2 -76 l3 -62 78 0 79 0 28 68 c16 38 29 72\r\n          29 76 1 4 -46 8 -104 8 -80 0 -107 -4 -111 -14z"}
          %path{d: "M2405 290 c0 -2 13 -36 29 -76 l30 -72 144 -3 145 -3 -72 79 -72 79\r\n          -102 0 c-56 0 -102 -2 -102 -4z"}
  .col-xs-12.col-sm-4
    .social-links
      %a{href: "//instagram.com/wearelaspring", target: "_blank"}
        %i.fa.fa-2x.fa-instagram
      %a{href: "//soundcloud.com/wearelaspring", target: "_blank"}
        %i.fa.fa-2x.fa-soundcloud
      %a.mobile-only{href: "//facebook.com/wearelaspring", target: "_blank"}
        %i.fa.fa-2x.fa-facebook
      %a.mobile-only{href: "//twitter.com/wearelaspring", target: "_blank"}
        %i.fa.fa-2x.fa-twitter
  .col-xs-12
    .site-links
      %a.site-link.about{href: "/about"} About
      %a.site-link.live{href: "/live"} Live
      %a.site-link.contact{href: "/contact"} Contact
.row.standard-body

  %hr/
  .text-center
    %button.btn.btn-primary{"data-target" => ".signup-modal", "data-toggle" => "modal", type: "button"} Sign up for our Mailing List
    .modal.fade.signup-modal{"aria-labelledby" => "mySmallModalLabel", role: "dialog", tabindex: "-1"}
      .modal-dialog.modal-sm
        .modal-heading
          %label{for: "mce-EMAIL"} Subscribe to our mailing list
        .modal-content
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{action: "//wearelapsring.us13.list-manage.com/subscribe/post?u=6f35f393bfd9846e4f28f9fb7&id=d5dbb8118c", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
              #mc_embed_signup_scroll
                .form-group
                  %input#mce-EMAIL.email.form-control{name: "EMAIL", placeholder: "email address", required: "", type: "email", value: ""}/
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{"aria-hidden" => "true", style: "position: absolute; left: -5000px;"}
                  %input{name: "b_6f35f393bfd9846e4f28f9fb7_d5dbb8118c", tabindex: "-1", type: "text", value: ""}/
                .form-group
                  %input#mc-embedded-subscribe.btn.btn-primary{name: "subscribe", type: "submit", value: "Subscribe"}/
