<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>{{ page.title }}</title>
    <meta content="{{ site.author.name }}" name="author"/>
    <meta content="{{ site.author.name }}" property="og:title"/>
    <meta content="{{ site.description }}" name="description"/>
    <meta content="{{ site.description }}" property="og:description"/>
    <meta content="http://wearelaspring.com/assets/images/logo-square.jpg" property="og:image"/>
    <meta content="http://wearelaspring.com" property="og:url"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="/assets/css/arcade.css?body=1" media="all" rel="stylesheet" type="text/css"></link>
    <link href="/assets/images/favicon.ico" rel="shortcut icon" type="image/x-icon"></link>
    <link href="/assets/images/favicon.ico" rel="icon" type="image/x-icon"></link>
  </head>
  <body>

    <div class="outer-arcade">
      <div class="arcade-header">
        <div class="left-group">
          <a href="//facebook.com/wearelaspring" target="_blank"><i class="fa fa-facebook"></i></a>
          <a href="//twitter.com/wearelaspring" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <span class="title">L.A. SPRING</span>
        <div class="right-group">
          <a href="//open.spotify.com/artist/1bt62fFZd8yHPanztqbA0v" target="_blank"><i class="fa fa-spotify"></i></a>
          <a href="//instagram.com/wearelaspring" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
      </div>

      <div class="inner-arcade">
        <div class="screen">
          <div class="game-menu">
            <div class="game-icon game-one">
              <div class="game-name">
                PASS 'ER BY
              </div>
              <i class="fa fa-unlock"></i>
              <div class="game-song">
                <i class="fa fa-music"></i>
                PASSERBY
              </div>
            </div>
            <div class="game-icon game-two">
              <div class="game-name">
                SPICE INVADERS
              </div>
              <i class="fa fa-unlock"></i>
              <div class="game-song">
                <i class="fa fa-music"></i>
                PASSERBY
              </div>
            </div>
            <div class="game-icon game-three">
              <div class="game-name">
                MEHMET 4D
              </div>
              <i class="fa fa-lock"></i>
              <div class="game-song">
                <i class="fa fa-music"></i>
                ???
              </div>
            </div>
            <div class="game-icon game-four">
              <div class="game-name">
                GRAND THEFT MAYO
              </div>
              <i class="fa fa-lock"></i>
              <div class="game-song">
                <i class="fa fa-music"></i>
                ???
              </div>
            </div>
          </div>
          <div class="game-view">
            <div class="game-frame game-one">
              <div class="header">
                <span>PASS 'ER BY</span>
              </div>
              <div class="game">
                <img src="http://freepngimages.com/wp-content/uploads/2014/04/tabbycat1_2animals_1.png"></img>
              </div>
              <div class="footer">
                <p class="back">Back</p>
              </div>
            </div>
            <div class="game-frame game-two">
              <div class="header">
                <span>SPICE INVADERS</span>
              </div>
              <div class="game">
                <img src="http://orig12.deviantart.net/6fdf/f/2014/117/9/2/ainsley_harriot_head_by_lacorocks-d7gacxq.png"></img>
              </div>
              <div class="footer">
                <p class="back">Back</p>
              </div>
            </div>
            <div class="game-frame game-three">
              <div class="header">
                <span>MEHMET 4D</span>
              </div>
              <div class="game">
                <img src="https://pbs.twimg.com/profile_images/378800000122260664/eb4ed8ee2f8aa856aa25a2dd069d3f5d_400x400.png"></img>
              </div>
              <div class="footer">
                <p class="back">Back</p>
              </div>
            </div>
            <div class="game-frame game-four">
              <div class="header">
                <span>GRAND THEFT MAYO</span>
              </div>
              <div class="game">
                <img src="https://i.ytimg.com/vi/SPOuqIKpqm8/maxresdefault.jpg"></img>
              </div>
              <div class="footer">
                <p class="back">Back</p>
              </div>
            </div>
          </div>
          <div class="arcade-player">
            <span class="message">Get on it you bellend</span>
          </div>
          <div class="overlay">TV-1</div>
        </div>
      </div>

      <div class="arcade-drawer">
        <a href= "/" >ABOUT</a>
        <a href= "/" >CONTACT</a>
      </div>

      <div class="arcade-padder carbon-fibre">
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/assets/js/arcade.js"></script>
    <script>
      (function() {
        var css = document.createElement('link');
        css.href = '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css';
        css.rel = 'stylesheet';
        css.type = 'text/css';
        document.getElementsByTagName('head')[0].appendChild(css);
      })();
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-80885837-1', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
